.gallery__list {
  width: 80%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, 250px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style: none;
  padding: 0;
}

@media all and (max-width: 600px) {
  .gallery__list {
    width: 87.5%;
    grid-template-columns: repeat(auto-fit, max-content);
    grid-template-rows: repeat(auto-fit, max-content);
  }
}
