.about__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 0 0;
}

@media all and (max-width: 1440px) {
  .about__description {
    width: 100%;
    margin: 0 0 20px;
  }
}
