{
  "extends": [
    "airbnb-base",
    "react-app"
  ],
  "ignorePatterns": ["reportWebVitals.js"],
  "rules": {
    "_id": "off",
    "no-underscore-dangle": [ "error", { "allow": [ "_id" ] } ],
    "no-useless-escape": "off"
  }
}
