.popup__button-save {
  width: 80%;
  height: 50px;
  background: radial-gradient(circle at 65% 15%, red, darkred);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  margin: 48px 0 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.popup__button-save:hover {
  opacity: .8;
  transition: all .2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, .7), -5px -5px 20px rgba(255, 255, 255, .7);
}

@media all and (max-width: 600px) {
  .popup__button-save {
    margin: 36px 0 0;
    height: 40px;
  }
}
