.mini-menu__link {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  transition: all .3s ease-out;
}

.mini-menu__link:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  content: "";
  transition: width 0.3s ease-out;
}

.mini-menu__link:hover:after {
  width: 100%;
}

.mini-menu__link:hover {
  color: red;
  transition: all .3s ease-out;
}
