@import url(./__social-image/footer__social-image.css);
@import url(./__social-item/footer__social-item.css);
@import url(./__social-link/footer__social-link.css);
@import url(./__social-list/footer__social-list.css);
@import url(./__button/footer__button.css);
@import url(./__title/footer__title.css);
@import url(./__container/footer__container.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__developer/footer__developer.css);

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 100px 0 0;
}
