.popup__field-error {
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

@media all and (max-width: 600px) {
  .popup__field-error {
    max-width: 90%;
  }
}
