.mini-menu__button-close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/button__cross.svg);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  outline: none;
  border: none;
  padding: 0;
  margin: 22px 22px 0 0;
  align-self: flex-end;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all .5s ease;
}

.mini-menu__button-close:hover {
  opacity: .6;
  transform: rotate(-360deg);
  transition: all .5s ease;
}
