@import url(./__list/menu__list.css);
@import url(./__link/menu__link.css);
@import url(./__item/menu__item.css);
@import url(./__container/__container.css);
@import url(./__title/menu__title.css);
@import url(./_dark/menu_dark.css);

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  background: none;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(32, 32, 32, 0);;
  transition: all 1s ease;
}
