.header__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scroll 1s ease infinite;

}

@keyframes scroll {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
