@import url(./__video/header__video.css);

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(../../videos/daisy-stock-poster.jpg) no-repeat #94a233;
  background-size: cover;
}
