.menu__button {
  width: 54px;
  height: 54px;
  background-image: url(../../../images/icon__menu.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: opacity .3s ease;
}

.menu__button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}
